body, html {
  width: 100%;
  height: 100%;
}
.red-text{
  color: white;
  text-align: center;
}



body {
  background-image: url('../img/bg.jfif');
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#intro{
  color: #000000;

}

#titles {
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  letter-spacing: 1.4px;
  text-align: center;
}

#firstLine {
  margin-top: 120px;
}

#secondLine {
  visibility: hidden;
}

.movedBackground {
  background-position: 0 40%;
}

#entryBox {
  visibility: hidden;
  margin: 5% auto;
  display: inline-block;
  width: 30%;
  margin-left: 35.5%;
}

input {
  letter-spacing: 0.5px;
  width: 80%;
  background-color: rgba(163, 163, 163, 0);
  border: 1px solid rgba(255, 255, 255, 1);
  color: #f7f7f7;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

input::placeholder {
  color: rgba(242, 242, 242, 0.8);
}

button {
  float: right;
  letter-spacing: 0.5px;
  width: 20%;
  background-color: rgba(119, 119, 119, 0);
  color: rgba(242, 242, 242, 0.8);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

button:hover {
  color: #f2f2f2;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
}

button:focus {
    outline: none; 
}

input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

hr {
    visibility: hidden;
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#ready {
  position: relative;
  margin: 0 auto;
  margin-top: -80px;
  z-index: -10;
  visibility: hidden;
}

#readyText {
    transition: 1s;
}

#navBottom {
  visibility: hidden;
}

.navbar-brand {
  font-weight: lighter;
}

#rocketShip {
  fill: white;
  visibility: hidden;
}

#lineDrawing {
  width: 250px;
  margin: 0 auto;
}

#afterAnimationHeader {
  margin-top: 400px;
}